.task {
  display: flex;
  align-items: flex-start;

  gap: 0.75rem;

  width: 100%;
  height: 4.5rem;

  padding: 1rem;

  background: var(--gray-500);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

  border: 1px solid var(--gray-400);
  border-radius: 8px;

}

.check{
  width: 1.5rem;
  height: 1.5rem;

  background-color: transparent;

  border: 2px solid var(--blue-300);
  border-radius: 999999px;

}

.check:hover {
  border: 2px solid var(--blue-500);
  cursor: pointer;
}

.task > p {
  width: 39.5rem;
  max-width: 39.5rem;

  font-size: 0.875rem;
  line-height: 1.25rem;
}

.trash {
  width: 1.5rem;
  height: 1.5rem;

  background-color: transparent;
  border: none;
}

.trash:hover {
 background-color: var(--gray-400);
 border-radius: 4px;
 
 cursor: pointer;
}

.trash:hover > img{
  filter: invert(44%) sepia(52%) saturate(796%) hue-rotate(314deg) brightness(94%) contrast(87%);
}