.header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 12.5rem;

  background-color: var(--gray-700);
}

.header > img {
  margin-bottom: 1.6875rem;
}

.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: calc(100vh - 12.5rem);
}

.wrapper > form {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;

  height: 3.375rem;

  margin-top: -1.6875rem;
}

.wrapper > form > input {
  width: 39.875rem;
  height: 3.375rem;

  border-radius: 8px;
  border: 1px solid var(--gray-700);

  padding: 1rem;

  background-color: var(--gray-500);
}

.wrapper > form > button {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;

  width: 5.625rem;
  height: 3.25rem;

  border-radius: 8px;

  color: var(--gray-100);
  font-size: 0.875rem;

  background-color: var(--blue-500);
}

.wrapper > form > button > img {
  width: 1rem;
  height: 1rem;
}



